body {
    background-color: #FFF;
    color: #000;
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #eee;
    }
}