[submodule "RaspberryPi"]
	path = RaspberryPi
	url = https://github.com/kagurazakayashi/pi.git
[submodule "Config/火绒设置/Huorong-Rules"]
	path = Config/火绒设置/Huorong-Rules
	url = https://github.com/tutugreen/Huorong-Rules.git
[submodule "Go/libNyaruko_Go"]
	path = Go/libNyaruko_Go
	url = https://github.com/kagurazakayashi/libNyaruko_Go.git
[submodule "TypeScript/libNyaruko_TS"]
	path = TypeScript/libNyaruko_TS
	url = https://github.com/kagurazakayashi/libNyaruko_TS.git
[submodule "PHP/libNyaruko_PHP"]
	path = PHP/libNyaruko_PHP
	url = https://github.com/kagurazakayashi/libNyaruko_PHP.git
[submodule "reference"]
	path = reference
	url = https://github.com/jaywcjlove/reference.git
	branch = gh-pages
[submodule "linux-command"]
	path = linux-command
	url = https://github.com/jaywcjlove/linux-command.git
	branch = gh-pages
